{% extends "blog_app/base.html" %} {% block header %}
<h2>About me</h2>
<p>
  <a href="https://github.com/Hogwarts250">Github</a> -
  <a href="https://www.instagram.com/ff.zhang/">Instagram</a> -
  <a href="mailto:felixfzhang@hotmail.com">Email</a>
</p>
{% endblock header %} {% block content %}
<p>
  I'm a grade 11 student at Saint Michael's University School hoping to study
  computer science or software engineering after I graduate. I have lived in
  Victoria, British Columbia for the entirety of my life and enjoy the
  atmosphere that it has. However, one of my goals is to spend at least a few
  years living in a large city. Some things I am likely to be doing in my spare
  time is programming (I did create a website after all), playing Magic: the
  Gathering (either online or in paper at a local game store), or reading a
  book. I am currently part of the En Avant program at the Westcoast Academy of
  Performing Arts and am working towards attaining the Grade 10 piano
  certificate from the Royal Conservatory of Music.
</p>
{% endblock content %}
