{% extends "blog_app/base.html" %} {% block header %}
<h2>About me</h2>
<p>
  <a href="https://github.com/Hogwarts250">Github</a> -
  <a href="https://www.instagram.com/ff.zhang/">Instagram</a> -
  <a href="mailto:felixfzhang@hotmail.com">Email</a>
</p>
{% endblock header %} {% block content %}
<p>
  I'm a grade 11 student at Saint Michael's University School hoping to study
  computer science or software engineering after I graduate. I have lived in
  Victoria, British Columbia for the almost the entirety of my life and enjoy
  the atmosphere that it has. However, one of my goals is to spend at least a
  few years of my life living in a major metropolis. Things I am likely to be
  doing in my spare time include programming / working on personal projects,
  playing Magic: the Gathering (either online or in paper at a local game
  store), or reading a book. I am currently part of the En Avant program at the
  Westcoast Academy of Performing Arts and am working towards attaining a Grade
  10 piano certificate from the Royal Conservatory of Music.
</p>
{% endblock content %}
