{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blog</title>

    {% bootstrap_css %} {% bootstrap_javascript %}
  </head>

  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          ></button>
          <a class="navbar-brand" href="{% url 'blog_app:home' %}">Home</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for topic in topics %}
            <li><a href="{% url 'blog_app:topic' topic.id %}">{{ topic }}</a></li>
            {% endfor %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'blog_app:new_topic' %}">New Topic</a></li>
            {% endif %}
            <li><a href="{% url 'blog_app:about_me' %}">About Me</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
            {% endif %}
          </ul>
        </div>
        {% if user.is_authenticated %}
        <p class="nav navbar-nav navbar-right">Hello, {{ user.first_name }}</p>
        {% endif %}
        <!-- /.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>
    <!-- /container -->
  </body>
</html>
